<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <meta name="keywords" content="대구대학교, DU, 컴퓨터정보공학부, 컴퓨터소프트웨어, 컴퓨터소프트웨어전공, SW공학, 소프트웨어공학, 컴퓨터소프트웨어 공지사항, 컴퓨터소프트웨어전공 공지사항, SW공학 공지사항, 소프트웨어공학 공지, 공지사항, 장학공지, 취업공지">
  <meta name="description" content="대구대학교 소프트웨어공학 공지사항을 조금 더 간편하게 모아보는 사이트입니다.">
  <meta name="robots" content="All">
  <meta name="author" content="한창희(ChangHui Han)">
  
  <title>DU-SW 공지 - 공지사항 더 간단하고 빠르게 알아보자</title>

  <link rel="stylesheet" href="/build/tailwind.css">
  <link rel="stylesheet" href="/css/glider.min.css">
  <link rel="stylesheet" href="/css/design.css">
</head>
<body class="h-screen">
  <div class="min-h-90v">

    <!-- Navbar -->
    <nav class="flex items-center justify-between">
      <div>
        <a href="/">
          <img class="p-4 w-40 sm:w-56" src="/assets/img/new_title.svg" alt="DU SW Notice" title="Home">
        </a>
      </div>
      <div class="mr-4">
        <button class="hidden sm:block hover:bg-gray-300 focus:outline-none focus:shadow-outline font-semibold text-2xl text-dug2" title="대구대학교 홈페이지 바로가기" onClick="location.href='https://www.daegu.ac.kr/main'"><img class="inline-block w-16 w-16" src="/assets/img/godudu.svg" alt="Search Button">대구대학교 바로가기</button>
        <button class="block sm:hidden hover:bg-gray-300 focus:outline-none focus:shadow-outline font-semibold text-2xl text-dug2" title="대구대학교 홈페이지 바로가기" onClick="location.href='https://www.daegu.ac.kr/main'">
          <img class="inline-block w-16 w-16" src="/assets/img/godudu.svg" alt="Search Button">
        </button>
      </div>    
    </nav>
  
    <!-- 학사공지 -->
    

  <!-- Footer -->
  <footer class="flex items-center justify-center w-full h-10vh min-h-10v bg-dug1">
    <div class="footer-content">
      <p class="text-white text-xs sm:text-xl">Copyright &copy; 2019. All Right Reserved By <a class="hover:text-dug3 focus:outline-none focus:shadow-outline sm:font-semibold" href="https://han-portfolio.herokuapp.com/" target="_blank">한창희</a></p>
      <p class="text-white text-xs sm:text-xl">All Data Source By <br class="block sm:hidden"><a class="hover:text-dug3 focus:outline-none focus:shadow-outline sm:font-semibold" href="https://sw.daegu.ac.kr/hakgwa_home/sw/index.php" target="_blank">대구대학교 컴퓨터정보공학부(소프트웨어전공) 홈페이지</a></p>
    </div>
  </footer>
  
  <!-- import glider.js -->
  <script src="/js/glider.min.js"></script>
  <script>
    const noticeGlider = new Glider(document.querySelector('.glider1'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      draggable: true,
      arrows: {
        prev: '.glider-prev1',
        next: '.glider-next1'
      },
      responsive: [
        {
          breakpoint: 769,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 2000,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1,
            duration: 0.25
          }
        }
      ]
    });
    const scholarGlider = new Glider(document.querySelector('.glider2'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      draggable: true,
      arrows: {
        prev: '.glider-prev2',
        next: '.glider-next2'
      },
      responsive: [
        {
          breakpoint: 769,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 2000,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1,
            duration: 0.25
          }
        }
      ]
    });
    const employGlider = new Glider(document.querySelector('.glider3'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      draggable: true,
      arrows: {
        prev: '.glider-prev3',
        next: '.glider-next3'
      },
      responsive: [
        {
          breakpoint: 769,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 2000,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1,
            duration: 0.25
          }
        }
      ]
    });

  </script>
</body>
</html>